
    <div class="card-body">
        <h1>Sobre nosotros</h1>
        <h3>La finca Granadillo, en la cual se cultivan los productos orgánicos que le estamos ofreciendo, está ubicada en la región de Rionegro, departamento de Santander, corregimiento de Llano de Palmas. 

En una tierra, con gran variedad de plantas y especies, libre de químicos, cultivada por agricultores que utilizan insumos de origen natural, evitando el uso de pesticidas y fertilizantes de origen químico.


Son productos orgánicos cultivados por personas que trabajan en condiciones dignas, en un ambiente laboral armónico.

Cuando compra nuestros productos, usted se alimenta mejor, porque los productos orgánicos contienen más nutrientes, mayor cantidad de antioxidantes y lo más importante están libres de químicos.  

Consumiendo nuestros productos ayudas a construir un mundo mejor, porque apoyas las buenas prácticas agroecológicas, al favorecer un modelo de producción de alimentos respetuoso con el medio ambiente, ayudas a preservar el agua, al apoyar él no uso de agroquímicos que contaminan las fuentes hídricas,  apoyas a los agricultores y campesinos locales, al consumir lo que produce la tierra en donde vives, además favorece al trabajador agrícola, con una remuneración justa y digna a tan duro trabajo.</h3>
    </div>
