<div class="card-body">
    <h1 class="display-4">Orgánicos App</h1>
        <div class="lead">
            <h2>Ofrecemos Productos Orgánicos</h2>
        </div>
        <hr class="mt-4">
        <div>
        
        
            <h3>
				<p>Nuestra sitio web da a conocer  los productos orgánicos que cultiva la finca Granadillo. Alimentos libres de químicos y ricos en amor ..... </p>
                
			    </p>.
            </h3>
            
    <!-- <a href = "https://dictionary.cambridge.org/es/diccionario/ingles-espanol/" class="btn btn-primary btn-lg">Diccionario</a> -->
</div>
