<section>
    	<h1>Nuestras Recetas</h1>
           
           
           <h2> En contruccion... </h2>
           
           <div class="c">
           <img class="remove-bg" src="../img/mojitoDeMandarinaTexto.jpg" alt="logo de la epresa" width="270px">
           </div>
           
        </section>   