<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2>Usuario Registrado</h2>
                <p></p>
                    <h3 class="c">
                        {{nombre}}
                    </h3>
                    <h3  class="c">{{email}}</h3>                   
            </div>
        </div>
    </div>
</div>
    